<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-2-exercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div id="app" class="calc-container">
      <label for="currentOutputState">{{model.currentOperation}}</label>
      <input v-model="model.currentOutputState" class="calc-output" name="currentOutputState" required readonly/>
      <div style="margin-left: 25px">
        <calculator-button v-bind:value="1" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button v-bind:value="2" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button v-bind:value="3" v-on:action-clicked="calculate"></calculator-button>
        <br/>
        <calculator-button v-bind:value="4" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button v-bind:value="5" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button v-bind:value="6" v-on:action-clicked="calculate"></calculator-button>
        <br/>
        <calculator-button v-bind:value="7" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button v-bind:value="8" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button v-bind:value="9" v-on:action-clicked="calculate"></calculator-button>
        <br/>
        <calculator-button v-bind:value="0" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button value="+" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button value="-" v-on:action-clicked="calculate"></calculator-button>
        <br/>
        <calculator-button value="/" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button value="*" v-on:action-clicked="calculate"></calculator-button>
        <calculator-button value="=" v-on:action-clicked="calculate"></calculator-button>
      </div>
    </div>
    <script type="text/javascript" src="node_modules/vue-form/dist/vue-form.js"></script>
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>